header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252525;
    color: white;
    padding: 10px 10%;
    font-family: 'Inter';
    z-index: 1;
}

header > h2 {
    margin: 0;
    font-size: 40px;
    cursor: pointer;
}

header > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 20px;
    padding-right: 5px;
    font-weight: 400;
}

header > ul > li {
    padding: 7px;
    cursor: pointer;
    transition: color 0.3s;
}

header > ul > li:hover {
    color: #ACACAC;
}